# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Env
.env
*.env.local

# Node
node_modules/
frontend/build/
frontend/.env.local

# Docker
.docker/

# DB
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
